body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-image: url("../image/head_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.separator-80 {
    height: 80px;
}
.swiper-button-prev {
    color: black !important;
}
.swiper-button-next {
    color: black !important;
}
.swiper-slide {
    /*height: fit-content !important;*/
}
.scroll-slide {
    position: relative;
}

.header-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 136px;
}
.header-container_menu {
    display: flex;
    align-items: center;
}
.header-container_menu nav {
    /*display: flex;*/
}
.header-container_menu nav a {
    color: #303030;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
}
.header-container_menu nav a:hover {
    font-weight: 500;
    margin-right: 36.5px;
}
.header-container_logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.header-container_network {
    display: flex;
    align-items: center;
}
.header-container_network a {
    margin-left: 16px;
}
.header-container_network a img {
    width: 24px;
    height: 24px;
}
.header-container_network .dropdown {
    margin-left: 16px;
}
.header-container_network .dropdown .dropdown-menu {
 min-width: 60px;
}
.dropdown .dropdown-menu .dropdown-item {
    margin: 0;
}
.video-container {
    display: flex;
    justify-content: center;
    width: 90%;
    position: static!important;
}
.video-container .swiper-wrapper {
    /*width: 80%;*/
}
.video-container .swiper-wrapper .swiper-slide {
    width: 100%;
}
.video-container .swiper-wrapper .swiper-slide img, iframe {
    width: 100%;
    height: 580px;
}

.music-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.album-container {
}
.album-container_title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.select-active {
    color: #C4C4C4;
}

.album-container-slider_global {
    position: relative;
    height: fit-content;
}

.album-container_title p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0 20px
}
.album-container-slider {
    position: static!important;
    width: 80%;
}
.album-container img {
    /*height: 460px;*/
    /*width: 100%;*/
    /*height: auto;*/
}
.album-container_description {
    max-height: 450px;
}
.album-container_description .swiper-wrapper .swiper-slide {
    overflow-y: scroll;
    overflow-x: hidden;
}
/* хром, сафари */
.album-container_description .swiper-wrapper .swiper-slide::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.album-container_description .swiper-wrapper .swiper-slide { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.album-container_description .swiper-wrapper .swiper-slide { overflow: -moz-scrollbars-none; }


.album-container_description-title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;

}
.album-container_description-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.album-container_platform {
    margin-top: 30px;
}
.album-container_platform section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.album-container_platform section a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-container_background {
    /*background-image: url("../image/rectangle-background.png");*/
    background-image: url("../image/shop-background.png");
    background-repeat: round;
}
.shop-container {
    margin-top: 70px;
    padding-bottom: 220px;
    padding-top: 130px;
    /*background-image: url("../image/rectangle-background.png");*/
    /*background-repeat: round;*/
    margin-bottom: 60px;
}
.shop-prev-button, .shop-next-button {
    color: white !important;
}
.shop-container .swiper-wrapper {
    /*width: 80%;*/
}
.shop-container .swiper-wrapper .swiper-slide {
    width: 100%;
}
.shop-item img {
    width: 100%;
    height: 350px;
    /*height: auto;*/
}
.shop-title {
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 40px ;
}
.shop-container-list {

}
.shop-container-swiper {
    display: flex;
    justify-content: center;
    width: 90%;
    position: static!important;
}
.shop-item {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
.shop-item .shop-item_image {

}
.shop-item .shop-item_prise {
    color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 7px;
}
.concert-container_background {
    background-image: url("../image/Worldmap.png");
    position: relative;
    top: -140px;
    padding-top: 140px;
    margin-bottom: -140px;
}
.concert-schedule-container {
    display: flex;
    margin: 100px 0;
}
.concert-schedule-container_title {
    font-size: 162px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 0;
    line-height: 165px;
}
.concert-schedule-container_list {
    font-family: 'Oswald', Serif;
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.concert-schedule-container_list p {
    font-size: 22px;
}
.concert-schedule-container_list_month {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    filter: drop-shadow( 0px 4px 4px rgba(0, 0, 0, 0.35));
}
.concert-schedule-container_list_expect {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    color: #484848;
    margin: 0;
    line-height: 60px;
}
.concert-schedule-container_list_soon {
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #E13636;
    margin: 0;
    line-height: 80px;
}
.custom-list {
    margin-right: 10px;
    position: relative;

}
.concert-schedule-container_list_button {
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 6px 20px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin-top: 20px;
}
.concert-schedule-container_list_button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.custom-list::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    right: -8px;
}
.custom-list_number {
    font-weight: bold;
}
.about-container {
    /*background-image: url("../image/about-background.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-repeat: round;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-bottom: 60px;
    position: relative;
}
.about-container_background {
    background-image: url("../image/about-background.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
        background-color: #1D1D1D;
    background-position-x: center;
    height: 100%;
}
.about-container_title {
    margin-top: 120px;
    margin-bottom: 70px;
    text-transform: uppercase;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px;
}
.about-container_description {
    max-width: 400px;
    margin-bottom: 60px;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;


}
.description-container {
    height: 120px;
    overflow: hidden;
    margin-top: 60px;
    transition: 1s;
}
.description-container_button {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
}
@keyframes list {
}
.active {
    transition: 1s;
}
.description-container_button:hover {
    color: blue;
}
h2 {
    font-size: 40px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
}
.footer-container_title {
    margin-bottom: 50px;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px;
    text-align: left;

}
.social_network_footer {
display: flex;
}
.social_network_footer a {
    width: 51px;
    height: 51px;
    display: block;
    margin: 0 34px;
}
.social_network_footer a img {
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    h2 {
        font-size: 30px!important;
    }
    .separator-80 {
        height: 40px;
    }
    .header-container {
        height: 165px;
    }
    .header-container_network {
        align-items: flex-start;
        width: 100%;
    }
    .header-container_network .dropdown {
        margin-left: auto;
    }
    .swiper-button-next {
        right: 0!important;
    }
    .swiper-button-prev {
        left: 0!important;
    }
    .header-container_menu {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 20;
        background-color: white;
        height: 45px;
    }
    .header-container_menu nav a {
        width: 100%;
        text-align: center
    }
    .header-container_menu nav a:hover {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-container_logo {
        position: absolute;
        left: 50%;
        top: 50px;
    }
    .header-container_menu nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .header-container_menu nav a {
        margin: auto;
    }
    .concert-schedule-container_title {
        font-size: 100px
    }
    .video-container .swiper-wrapper .swiper-slide img, iframe {
        height: 300px;
    }
    .social_network_footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .social_network_footer a {
        margin: auto;
        width: 35px;
    }
    .album-container_title p {
        font-size: 20px;
    }
    .album-container-slider {
        width: 90%;
    }
    .album-container_description {
        margin-top: 20px;
    }
    .album-container_platform {
    }
    .album-container_platform section {
        display: flex;
        align-items: center;
        /*justify-content: center;*/
        flex-wrap: wrap;
    }
    .album-container_platform section a {
        width: 30%;
        padding: 10px;
    }
    .album-container_platform section a img {
     width: 100%;
    }
    /*.scroll-slide::after {*/
    /*    content: "";*/
    /*    background-image: url("../image/finger-tap.gif");*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    right: 0;*/
    /*    left: 0;*/
    /*    bottom: 0;*/
    /*    background-repeat: round;*/
    /*}*/
    .shop-container {
        margin: 30px auto;
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .shop-item img {
        height: 316px
    }
    .concert-container_background {
        padding-top: 50px;
    }
    .concert-schedule-container_title {
        line-height: 70px;
        font-size: 60px!important;
    }
    .concert-schedule-container_list {
        align-items: center;
        margin-top: 30px;
    }
    .concert-schedule-container_list_month {
        margin-bottom: 20px;
    }
    .concert-schedule-container_list_expect {
        font-size: 65px;
        line-height: 40px;
    }
    .concert-schedule-container_list_soon {
        font-size: 80px;
    }
    .about-container {
        padding-bottom: 30px;
    }
    .about-container_title {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .footer-container {
        height: 270px;
    }
}
@media (min-width: 730px) and (max-width: 991.98px) {
    .shop-item_image {
        height: 220px!important;
    }
}
