body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}


.header-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 230px;
}
.header-container_menu {

}
.header-container_menu nav {
    /*display: flex;*/
}
.header-container_menu nav a {
    color: #303030;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
}
.header-container_menu nav a:hover {
    font-weight: 500;
}
.header-container_logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.header-container_network {
    display: flex;
}
.header-container_network a {
    margin-left: 16px;
}
.video-container {
    display: flex;
    justify-content: center;
    width: 90%;
    position: static!important;
}
.video-container .swiper-wrapper {
    /*width: 80%;*/
}
.video-container .swiper-wrapper .swiper-slide {
    width: 100%;
}
.video-container .swiper-wrapper .swiper-slide img, iframe {
    width: 100%;
    height: 580px;
}

.music-title {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.album-container {
    width: 90%;
    margin-top: 70px;
}
.album-container img {
    height: 460px;
}
.shop-container {
    margin-top: 70px;
    padding: 151px 0;
    background-image: url("../image/rectangle-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.shop-container .swiper-wrapper {
    /*width: 80%;*/
}
.shop-container .swiper-wrapper .swiper-slide {
    width: 100%;
}
.shop-container .swiper-wrapper .swiper-slide .shop-item img {
    width: 100%;
    height: 315px;
    /*height: auto;*/
}
.shop-title {
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.shop-container-list {

}
.shop-container-swiper {
    display: flex;
    justify-content: center;
    width: 90%;
    position: static!important;
}
.shop-item {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
.shop-item .shop-item_image {

}
.shop-item .shop-item_prise {
    color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 7px;
}
.concert-schedule-container {
    display: flex;
}
.concert-schedule-container_title {
    font-size: 120px;
    text-transform: uppercase;
    text-align: center;
}
.concert-schedule-container_list {

}
.custom-list {
    margin-right: 10px;
    position: relative;

}
.custom-list::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    right: -8px;
}
.custom-list_number {
    font-weight: bold;
}