.bgcolor5 {
margin-top: 60px;
}
.photogalery {
    overflow: hidden;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photogalery img {
    height: 100%;
    overflow: hidden;
}
.photobox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.photobox img {
    width: 100%;
    max-height: 550px;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
.arrow:hover {
    background-color: rgba(222,225,235,0.2);
}
.heightgalery {
    height: 550px;
}
.stretch {
    width: 100%;
    height: auto !important;
}




@media (max-width: 576px) {
    .heightgalery {
        height: auto;
        padding: 0 15px;
    }
    .bgcolor5 {
        margin-top: 0;
    }
    .photogalery img {
        padding: 15px 0;
        height: 140px;
    }
    .photogalery {
        padding: 7px;
    }
}