body{
  background-color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 100
}
a {
  color: white;
  text-decoration:none;
}
a :hover {
  color: black;
  text-decoration:none;
}

hr {
  height: 5px;
  width: 90px;
  background-color: rgba(222,225,235,0.2);
  display: none;
}

.bgcolor1{
  background-color: rgba(30,30,30,255);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.al-center{
  display: flex;
  justify-content: center;
  margin:20px 0;
}
.bgcolor2{
  background-image: url("../images/фото1.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right;
  width: auto;
  max-height: 1080px;
  overflow: hidden;
}
.search{
  font-family: "UnitypeXCnd-Light";
  height: 100px;
  width: 100%;
  z-index: 9000;
  /*background-color: rgba(51,108,153,0.2);*/
}
.headmenu{
  color: white !important;
  text-align: center;
  font-weight: bold;
}
.headmenu:hover{
  background-color:rgba(244,247,255,255);
  color: black !important;
}
.down{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description{
  background-color: rgba(222,225,235,0.2);
  width:100%;
  height: 300px;
  overflow: hidden;
  padding: 0 40px 40px;
  margin-bottom: 50px;
}
.title{
  font-family: 'Poiret One', cursive;
  color:white;
  font-size: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.abautus{
  font-weight: normal;
  font-size: 15px;
  color: white;
  margin-top: 10px;
}
.bgcolor4{
  background-image: url("../images/bgpiano.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  width: 100%;
  padding-top:2%;
}
.bgvideo{
  background-color: rgba(220,225,235,0.05);
  height: auto;
  width: 560px;

}
.videobox{
  padding-top:20px;
  padding-left: 25px;
  padding-right: 25px;
}
.posvideo{
  margin-top: 25px;
  padding-left:5px;
  padding-right:5px;
  display: flex;
  justify-content:space-between;
  overflow: hidden;
}
.contentList{
  width: auto;
  display: flex;
  position: relative;
  transition: all ease 2s;
  left: 0;
  /*right: 4800px;*/
}
.videoContainer {
  padding-bottom: 15px;
}
.videobox2{
  width: 100%;
  height: 100%;
  min-height: 250px;
}
.txtvideo{
  padding: 0 10px;
  width: 150px;
  z-index: 10000;
}
.txtvideo_img{
  width: inherit;
  height: 80%;

}
.txtvideo_txt{
  padding: 0 10px;
  color:white;
  width: 150px;
}
.Pointer{
  width: 35px;
  height:188px;
  color:white;
  margin: 0;
  padding-top:85px;
  text-align: center;
}
.Pointer:hover{
  background-color: rgba(222,225,235,0.2);
  font-size: 20px;
}

.listVideo-slider {
  width: 94% !important;
  height: auto!important;
}












@media (max-width: 576px) {
body {
  background-image: url("../images/mobileBackground.png");
}

.bgvideo{
width: auto;
}
.videobox {
padding-right: 0;
padding-left: 0;
}
.Pointer {
display: none;
}
.contentList {
transition: all ease 250ms;
}
.search {
display: none;
}
.bgcolor2 {
background-size: 590px;
background-position: right top;
}
.bgsize {
margin-top: 315px;
}
.description {
margin-bottom: 0;
}



/*logo mobile*/
  .al-center img {
    width: 46px;
    height: 56px;
  }
  .al-center {
    margin: 10px 0;
  }

  /*hr line*/
  hr {
    margin: 60px auto;
    display: block;
  }


}


@media only screen and (min-width : 1200px) {

}



/*@media (min-width: 1200px) and (max-width: 1350px) {*/
  /*.bgsize{*/
    /*height: 584px;*/
  /*}*/
  /*.bgcolor4{*/
    /*height: 600px;*/
  /*}*/
  /*.bgvideo{*/
    /*width: 640px;*/
  /*}*/
  /*.videobox2{*/
    /*width: 560px;*/
    /*height: 315px;*/
  /*}*/
/*}*/
