.service-container {
    display: flex;
    border-radius: 2px;
    margin-bottom: 20px;
    height: 300px;

}
.service-container img {
    flex-grow: 1;
    width: 50%;
}
.service-container_description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;

    background-color:rgba(222,225,235,0.2);
    color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.service-container_description::-webkit-scrollbar { width: 0; }

.service-container_description_title {
    font-family: 'Jura', sans-serif!important;
    font-size: 25px;
    font-weight: 100;
}
.service-container_description_body {
    font-family: 'Cuprum', sans-serif;
    line-height: 20px;
    font-size: 15px;
    color: rgb( 255, 255, 255 );
}
